html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px 5px;
    border: 1px solid;
  }
  .box {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    margin: 10px;
  }