*{
  font: 500;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap:60px;
    margin: 0px;
    padding:0px;
    
}

body{
  
  width: 100%;
  height: 100%;

}

body::before{
  content:'';
  background: rgba(77, 99, 123, 0.28);
  z-index: 3;
  position: absolute;
  inset: 0;
}



#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px 5px;
    
  }
  .box {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.635);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    margin: 10px;
  }

  .scores{
    display: flex;
    flex-direction: ROW;
    text-align: center;
    gap:20px;
  }
  .change,.change2{
    color: white;
    padding-bottom: 15px;
  }
  .player-label,.player-label2{
    color: white;
    padding-bottom: 10px;
  }

  .scorePlayer1,.scorePlayer2{
    border: 1px solid #ffffff;
    width :130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:white;
  }
  button{
    background-color: transparent;
    color: white;
    padding: 10px 0 10px 0 ;
    border: 1px solid white;
    border-radius: 10px;
transition: all 0.1s ease-in-out;
  }


  button:hover{
    transform: scale(102%);
    background-color: #ffffff3c;
    
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.391);
    cursor: pointer;
  }

  h1{
    color: rgb(255, 255, 255);
    font-size: 15px;

  }

  .scoreWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .h1Heading{
    font-size:20px;;
  }
  
  .PlayerInputnNone{
    display: none;
  }


  input{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color:white;
    width :130px;
    height: 20px;
  }


  .wrapper1,.wrapper2,.player-input2,.player-input{
    display: flex;
    flex-direction:column;
    text-align: center;
    
  }

  .PlayerInput{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .PlayerInput1{
    display: flex;
    flex-direction: row;
    gap:10px;
  }

  img{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
    
  }
  .grid,.scoreWrapper,.PlayerInput,.headings{
    z-index: 3;
  }
  .headings{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .headings h5, h1 {
    margin: 0;
    padding: 0;
  }


  .headings h1{
    font-size: 70px;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
  }

  .headings h5 a{
    font-size: 30px;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    text-decoration: none;

  }

  .headings h5:hover{
    animation: lift 1.1s infinite ease-in-out;
  }

  @media( max-width: 477px){
    .headings h1{
      font-size: 60px;
      font-family: "Monoton", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      text-align: center;
      
      

  }

  @keyframes lift {
    0% {
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    } 
    100%{ transform : translateY( 0px);
    }
  } 
  
